.time-line {
  position: sticky;
  top: 84px;
  left: 0;
  z-index: 10;

  display: flex;
  align-items: center;
  float: left;
  width: 100%;
  width: 100%;
  min-width: 1285px;
  height: 46px;

  background-color: $blankColor;
  border-top: $baseBorder;
  border-bottom: $baseBorder;

  &__date-picker {
    flex: 0 0 245px;
    padding: 0 24px;
    height: 100%;
  }

  &__stamps {
    display: flex;
    flex: 1;
    align-items: center;
    height: 100%;
  }

  &__stamp {
    position: relative;

    flex: 1;

    vertical-align: middle;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      top: 33px;
      left: 50%;

      width: 0;
      height: calc(100vh - 130px);

      border-left: 1px solid rgba(19, 100, 205, 0.1);
    }

    &--inactive {
      .time-line__number {
        color: $inactiveFontColor;
      }
    }

    &--active {
      .time-line__number {
        color: $baseFontColor;
      }

      &::before {
        top: 20px;

        height: calc(100vh - 117px);

        border-color: $baseColor;
      }

      .time-line__number {
        display: inline-block;
        width: 50px;

        vertical-align: middle;

        background-color: $baseColor;
        border-radius: $borderRadiusXL;
      }

      // &::after {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   left: calc(50% - 50px / 2);
      //   z-index: -1;

      //   width: 50px;
      //   height: 100%;

      //   background-color: $baseColor;
      //   border-radius: $borderRadiusXL;
      // }
    }
  }

  &__number {
    font-weight: $fontWeightXL;
    font-size: $fontSizeS;
    line-height: 20px;
    text-align: center;
    color: $subFontColor;
  }
}
