.time-line {
  position: sticky;
  top: 84px;
  left: 0;
  z-index: 10;
  float: left;

  display: flex;
  align-items: center;
  width: 100%;
  width: 100%;
  min-width: 1285px;
  height: 46px;

  background-color: $blankColor;
  border-top: $baseBorder;
  border-bottom: $baseBorder;

  &__date {
    flex: 0 0 245px;
    width: 245px;
    height: 100%;
  }

  &__stamps {
    display: flex;
    flex: 1;
    align-items: center;
    height: 100%;
  }

  &__stamp {
    position: relative;

    flex: 1;
    height: 20px;

    font-weight: $fontWeightXL;
    font-size: $fontSizeS;
    line-height: 20px;
    text-align: center;
    color: $subFontColor;

    &::before {
      content: "";
      position: absolute;
      top: 33px;
      left: 50%;

      width: 0;
      height: 100vh;

      border-left: 1px solid rgba(19, 100, 205, 0.1);
    }

    &--inactive {
      color: $inactiveFontColor;
    }

    &--active {
      color: $baseFontColor;

      &::before {
        top: 20px;

        border-color: $baseColor;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: calc(50% - 50px / 2);
        z-index: -1;

        width: 50px;
        height: 100%;

        background-color: $baseColor;
        border-radius: $borderRadiusXL;
      }
    }
  }

  &__row {
    background-color: #d5dfe9;

    grid-column: 1/-1;
  }
}
