* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.site {
  // display: flex;
  // flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
  // -webkit-overflow-scrolling: touch;

  font-weight: $fontWeightM;
  font-size: $fontSizeM;
  font-family: $baseFont;
  // touch-action: none;

  // overscroll-behavior: none;
  -webkit-text-size-adjust: none;
}
