* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1285px;
  min-height: 100vh;

  font-weight: $fontWeightM;
  font-size: $fontSizeM;
  font-family: $baseFont;
}
