* {
  box-sizing: border-box;
}

html,
body {
  position: fixed;
  width: 100%;
  overflow: hidden;
}

body {
  // position: relative;
  // display: flex;
  // flex-direction: column;
  // min-width: 1285px;

  // font-weight: $fontWeightM;
  // font-size: $fontSizeM;
  // font-family: $baseFont;

  // -webkit-overflow-scrolling: touch;
}

.kek {
  // display: flex;
  // flex-direction: column;
  // position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  font-weight: $fontWeightM;
  font-size: $fontSizeM;
  font-family: $baseFont;
}

.rofl {
  position: relative;
  min-width: 1285px;
  position: relative;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
}
