// Fonts
$subFont: Helvetica, Arial, sans-serif;
$baseFont: "Helvetica-Neue", $subFont;

$baseFontColor: #ffffff;
$subFontColor: #252525;
$inactiveFontColor: #858e98;

// Sizes
$fonstSizeS: 11px;
$fontSizeM: 13px;
$fontSizeL: 15px;

$fontWeightM: 400;
$fontWeightL: 600;

$borderRadiusS: 2px;
$borderRadiusM: 4px;
$borderRadiusL: 8px;
$borderRasiusX: 100px;

// Colors
$baseColor: #007dff;
$blankColor: #ffffff;

// Borders
$baseBorder: 1px solid #e9ecef;
