.date-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__control {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;

    background-color: #e9ecef;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    @include focus-outline(50%);

    svg {
      display: block;
      path {
        fill: #848687;
      }
    }

    &--right {
      transform: rotate(180deg);
    }

    &:hover,
    &:focus {
      svg {
        path {
          fill: #000000;
        }
      }
    }
  }

  &__date {
    flex: 1;

    font-weight: 600;
    font-size: $fontSizeL;
    line-height: 24px;
    text-align: center;
    color: #000000;
    letter-spacing: 0;
  }
}
