.slot {
  position: relative;

  cursor: pointer;

  transition: 0.3s;

  @for $h from 0 through 3 {
    @for $m from 0 through 3 {
      &--#{$h}h#{$m*15}m {
        grid-column: span ($h * 4) + ($m * 1); // минуты
      }
    }
  }

  > .slot-widget {
    position: absolute;
    bottom: -120px;
    left: calc(50% - 170px);
    z-index: 10;

    cursor: default;

    transition: 0.3s;
  }

  &__button {
    display: block;
    width: 100%;
    height: 100%;

    background-color: transparent;
    cursor: pointer;

    @include focus-outline;
  }

  &--empty {
    .slot__button {
      position: relative;

      background-color: $blankColor;
      border-radius: 2px;

      &::after {
        content: "";
        position: absolute;
        top: calc(50% - 26px);
        left: calc(50% - 26px);

        width: 52px;
        height: 52px;

        background: linear-gradient(#ffffff, #ffffff),
          linear-gradient(#ffffff, #ffffff);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px 2px, 2px 16px;
      }

      &:hover,
      &:focus {
        background-color: #1d54fe;

        transition: 0.3s;
      }

      &:active {
        background-color: #1d00fe;

        transition: 0.3s;
      }
    }
  }

  &--reserved {
    .slot__button {
      background-color: #d5dfe9;

      &:hover,
      &:focus {
        background-color: #99a9b9;

        transition: 0.3s;
      }

      &:active {
        background-color: #8594a2;

        transition: 0.3s;
      }
    }
  }
}
