.site__header {
  position: sticky;
  top: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 24px;

  background-color: $blankColor;
  border-bottom: $baseBorder;
}

.create-meetup-link {
  display: block;
  width: 140px;
  height: 36px;

  font-weight: $fontWeightL;
  line-height: 36px;
  text-align: center;
  color: $baseFontColor;
  letter-spacing: 0;

  background-color: $baseColor;
  border-radius: $borderRadiusM;
}
