.site__header {
  position: sticky;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  width: 100%;
  z-index: 10;

  background-color: $blankColor;
  // border-bottom: $baseBorder;

  img {
    height: 36px;
  }
}

.create-meetup-link {
  display: block;
  width: 140px;
  height: 36px;

  font-weight: $fontWeightL;
  line-height: 36px;
  text-align: center;
  color: $baseFontColor;
  letter-spacing: 0;

  background-color: $baseColor;
  border-radius: $borderRadiusM;
}

@media (max-width: 800px) {
  .create-meetup-link {
    display: none;
  }
}
