.room {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  color: $activeFontColor;

  &__name {
    font-weight: $fontWeightL;
    font-size: $fontSizeL;
    line-height: 17px;
  }

  &__capacity {
    display: block;
    margin-top: 2px;

    line-height: 17px;
  }

  &--inactive {
    color: $inactiveFontColor;
  }
}
