.room-line {
  display: grid;

  background-color: $blankColor;

  grid-column: 2/-2;
  grid-template-columns: repeat(60, 0.25fr);

  &__slot {
    position: relative;

    cursor: pointer;

    transition: 0.3s;

    @include focus-outline;

    @for $h from 0 through 3 {
      @for $m from 0 through 3 {
        &--#{$h}h#{$m*15}m {
          grid-column: span ($h * 4) + ($m * 1); // минуты
        }
      }
    }

    > .slot-widget {
      position: absolute;
      bottom: -120px;
      left: calc(50% - 170px);
      z-index: 10;

      display: none;

      cursor: default;

      transition: 0.3s;
    }

    &--empty {
      position: relative;

      background-color: $blankColor;
      border-radius: 2px;

      @include focus-outline(2px);

      &::after {
        content: "";
        position: absolute;
        top: calc(50% - 26px);
        left: calc(50% - 26px);

        width: 52px;
        height: 52px;

        background: linear-gradient(#ffffff, #ffffff),
          linear-gradient(#ffffff, #ffffff);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px 2px, 2px 16px;
      }

      &:hover,
      &:focus {
        background-color: #1d54fe;

        transition: 0.3s;
      }

      &:active {
        background-color: #1d00fe;

        transition: 0.3s;
      }
    }

    &--reserved {
      background-color: #d5dfe9;

      &:hover,
      &:focus {
        background-color: #99a9b9;

        transition: 0.3s;

        .slot-widget {
          display: flex;

          transition: 0.3s;
        }
      }

      &:active {
        background-color: #8594a2;

        transition: 0.3s;
      }
    }
  }
}
