.room-line {
  display: grid;

  background-color: $blankColor;
  cursor: pointer;

  grid-column: 2/-2;
  grid-template-columns: repeat(60, 0.25fr);

  &__slot {
    transition: 0.3s;

    @for $h from 0 through 3 {
      @for $m from 0 through 3 {
        &--#{$h}h#{$m*15}m {
          grid-column: span ($h * 4) + ($m * 1); // минуты
        }
      }
    }

    &--empty {
      position: relative;

      background-color: $blankColor;
      border-radius: 2px;

      &::before {
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        left: calc(50% - 6px);

        width: 12px;
        height: 2px;

        background-color: #ffffff;
        border-radius: 2px;
      }

      &::after {
        content: "";
        position: absolute;
        top: calc(50% - 6px);
        left: calc(50% - 1px);

        width: 2px;
        height: 12px;

        background-color: #ffffff;
        border-radius: 2px;
      }

      &:hover {
        background-color: #1d54fe;

        transition: 0.3s;
      }
    }

    &--reserved {
      background-color: #d5dfe9;

      &:hover {
        background-color: #99a9b9;

        transition: 0.3s;
      }
    }
  }
}
